<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html>

<head>
	<meta charset="UTF-8">
	<title>部門選択画面</title>
</head>

<body>

	<h2>部門選択画面</h2>

	<h1>部門一覧</h1>
	<table class="table-bumon" border="1">
		<thead>
		<tr>
			<th>選択</th>
			<th>部門ID</th>
			<th>部門名</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="bumon :${bumonSelect}">
			<td>
				<form th:action="@{/edit/bumonSelect}" method="post">
					<input type="hidden" name="bumon_id" th:value="${bumon.bumon_id}">

					<button type="submit">選択</button>
				</form>
			</td>
			<td th:text="${bumon.bumon_id}">
			</td>
			<td th:text="${bumon.bumon_name}" >
			</td>
		</tr>
		</tbody>
	</table>



</body>

</html>